<nav class="navbar">
  <a routerLink="/" class="navbar-brand">InventoryApp</a>
  
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
      <a routerLink="/products" routerLinkActive="active" class="nav-link">Products</a>
    </li>
    <!-- Add more navigation items here as needed -->
  </ul>

  <!-- Conditional rendering based on login status -->
  @if (!isLoggedIn) {
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="/cart" routerLinkActive="active" class="nav-link">Cart</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
      </li>
    </ul>
  } @else {
    <ul class="navbar-nav ml-auto">
      @if (showAdminBoard) {
        <li class="nav-item">
        <a routerLink="/addproduct" routerLinkActive="active" class="nav-link">Add Product</a>
      </li>
      <li class="nav-item">
        <a routerLink="/createwarehouse" routerLinkActive="active" class="nav-link">Create Warehouse</a>
      </li>
      }
      @if(showWarehouseBoard)
      {
        <li class="nav-item">
          <a routerLink="/addproduct" routerLinkActive="active" class="nav-link">Warehouses</a>
        </li>
      }
      <li class="nav-item">
        <a routerLink="/cart" routerLinkActive="active" class="nav-link">Cart</a>
      </li>
      <li class="nav-item">
        <a routerLink="/profile" routerLinkActive="active" class="nav-link">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  }
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>