h1 {
  text-align: center;
  margin: 20px 0;
  color: #e65100;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  gap: 1px;
  margin-top: 12px;
}
.product-card {
  width: 250px;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  text-align: center;
}

.product-image {
  width: 100%;
  height: 160px;
  object-fit: cover;      /* keeps image clean */
  border-radius: 8px;
  margin-bottom: 12px;
}
.buybutton {
  display: block;
  margin: 10px auto;
}
.price {
  color: #ff9800;
  font-weight: bold;
}
