h1 {
  text-align: center;
  margin: 20px 0;
  color: #e65100;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  width: 250px;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.buybutton {
  display: block;
  margin: 10px auto;
}
.price {
  color: #ff9800;
  font-weight: bold;
}
