.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

select, button {
  padding: 5px;
}
button{
    background-color: orange;
    border-radius: 4px;
    border: none;
}
button:hover{
    background-color: orangered;
}
