<html>
    <body>
<div class="register-container">
<form (ngSubmit)="register()">
    <h1>Looks like you're new here!</h1>
    <h3>Sign up to get started</h3>
    <label>Enter Name: </label>
    <input type="text" [(ngModel)]="name" name="name" required><br>
    <label>Enter Email: </label>
    <input type="text" [(ngModel)]="email" name="email" required><br>
    <label>Enter Password: </label>
    <input type="text" [(ngModel)]="password" name="password" required><br>
    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>